<div class="contenitoreBenvenuto">
    <div class="logoBenvenuto">
        <div class="logo">
            <img src={{logo}}>

        </div>
        <div class="container poppins-regular">
            <div class="contenutoBenvenuto">
                <div>
                    <h3 class="testo">Benvenuto sul portale di assunzione di SMC</h3>
                </div>

                <div class="login">
                    <p routerLink="/login-utente">Login utente</p>
                    <p routerLink="/login-candidato">Login candidato</p>
                </div>
            </div>
        </div>
    </div>
</div>