<div class="contenitore poppins-regular">
    <div class="candidato">
        <h3 class="test">Test: {{titoloTest}}</h3>
        <h3>Candidato: {{nomeCandidato}}</h3>
    </div>

    <div class="domanda">
        <table mat-table [dataSource]="domandeTabella">

            <ng-container matColumnDef="titolo">
                <th class="titolo" mat-header-cell *matHeaderCellDef>Titolo</th>
                <td class="titolo" mat-cell *matCellDef="let domanda">{{domanda.title}}</td>
            </ng-container>

            <ng-container matColumnDef="tipologia">
                <th class="tipologia" mat-header-cell *matHeaderCellDef>Tipologia</th>
                <td class="tipologia" mat-cell *matCellDef="let domanda">{{domanda.typology}}</td>
            </ng-container>

            <ng-container matColumnDef="difficolta">
                <th class="difficolta" mat-header-cell *matHeaderCellDef>Difficoltà</th>
                <td class="difficolta" mat-cell *matCellDef="let domanda">{{domanda.difficulty}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colonne"></tr>
            <tr mat-row *matRowDef="let row; columns: colonne"></tr>

        </table>
    </div>
    <div class="pulsanti">
        <a class="link" routerLink="/home/home-utente">Torna ai test</a>
        <button (click)="risposta()">Avanti</button>
    </div>
</div>