.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contenuto {
    border: 1px solid;
    border-radius: 10px;
    padding: 25px;
    border-color: #cccccc;
    box-shadow: 1px 1px 5px;
}

.containerFormCandidato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    font-size: 20px;
    margin: 0;
    cursor: context-menu;
}

input {
    width: 280px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background: #80808012;
    border: 1px solid #ccc
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}

.accedi {
    display: grid;
    height: 25px;
}

button {
    font-size: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    background: white;
    color: #000866;
}

button:hover {
    background: #000866;
    color: white;
}

button:disabled {
    background: #80808012;
    color: #00096640;
    cursor: context-menu;
}

span {
    font-size: 15px;
    cursor: context-menu;
    margin-top: 10px;
}